<h1><%= @title %></h1>

<p>Album: <%= link_to @track.album.title, album_url(@track.album.id) %>
</p>

	<p> <%= link_to "Edit #{@title} information",
		      edit_track_url(@track) %></p>

	<p> <%= link_to "Delete #{@title}",
		      track_url(@track), :method => :delete,
		      confirm: "Really delete #{@title}?" %></p>

	<p> <%= link_to "<< Back to All Tracks", tracks_url %>