<h1><%= @artist.name %></h1>
<p>Birthday: <%= @artist.date_of_birth %></p>
<p>Gender: <%= @artist.gender %></p>

<p>Bands: <% @artist.bands.each do |band| %>
	<%= link_to band.name, band_url(band.id) %>
	<% end %>
</p>

<p> <%= link_to "<< Back to All Artists", artists_path %>